body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    display: flex;
}

.button {
    background-color: #1DD300;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
    background-color: #6749D7;
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 20px;
    display: flex;
}

article {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding:30px ;
    width: 400px;
    margin: 30px;
    justify-content: center;
}

.article-but {
    text-decoration: none;
    background-color: ;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    background-color: #1DD300;
}

footer {
    padding: 10px;
    display: flex;
    background-color: #FD0006;
}

footer a {
    margin-right: 20px;
}

footer p {
    font-size: 24px;
}


main {
    background-color: #3515B0;

}
